# Version 1
# IntelliJ Files
.idea/

# Git Files - .git/ is handled by Git itself, no need to explicitly ignore

# Python Virtual Environment
venv/

# Python Cache
__pycache__/

# Bytecode-compiled
*.pyc
*.pyo
*.pyd

# Data Cache Files (shelve database)
data/store.cache*

# Log Files
*.log

# Html Files (generated plotly plots)
*.html

# Jupyter Notebook Folder
notebooks/
.ipynb_checkpoints/

# Jupyter Notebook Files
*.ipynb
