[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.18.4"
certifi = "==2018.1.18"
chardet = "==3.0.4"
idna = "==2.6"
"urllib3" = "==1.22"
flask = "*"
dash = "*"
colorlover = "*"
dash-core-components = "*"
dash-html-components = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
